@import "tailwindcss";

 
@theme {

  --color-hello: red;
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(0 0% 3.9%);

  --color-muted: hsl(0 0% 96.1%);
  --color-muted-foreground: hsl(0 0% 45.1%);

  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(0 0% 3.9%);

  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(0 0% 3.9%);

  --color-border: hsl(0 0% 89.8%);
  --color-input: hsl(0 0% 89.8%);

  --color-primary: hsl(0 0% 9%);
  --color-primary-foreground: hsl(0 0% 98%);

  --color-secondary: hsl(0 0% 96.1%);
  --color-secondary-foreground: hsl(0 0% 9%);

  --color-accent: hsl(0 0% 96.1%);
  --color-accent-foreground: hsl(0 0% 9%);

  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);

  --color-ring: hsl(0 0% 63.9%);

  --radius: 0.5rem;

  --color-footer: #003149;
  --color-footer-secondary: #012334;
  --color-promo: #f7fafb;
}
 
* {
  border-color: rgb(var(--color-border));
}

body {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}


.badge {
  font-family: oswald, sans-serif;
  font-size: 32px;
  transform: rotate(45deg);
  margin: 50px auto;
  background: #6c2d66;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 8px;
  color: #FFFFFF;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.badge span {
  display: block;
  transform: rotate(-45deg);
  opacity: .9;
}